{% extends "admin_base.html" %}

{% block content %}
    {% include 'ongoing_elections.html' %}
    {% block ongoing_elections %}
    {% endblock ongoing_elections %}
    {% raw %}
    <!-- <div class="content-section">
        <h1>Ongoing Elections</h1>
        <p class='text-muted'>Elections currently happening:
        <ul class="list-group">
          {% for election in elections %}
          {% if election.election_state == 'ongoing' %}
              <li class="list-group-item list-group-item-light"><a href="#">{{ election.election_title }}</a></li>
          {% endif %}
      {% endfor %}
        </ul>
        </p>
    </div> -->
    {% endraw %}
    
    {% include 'upcoming_elections.html' %}
    {% block upcoming_elections %}
    {% endblock upcoming_elections %}

    {% raw %}
    <!-- <div class="content-section">
        <h1>Upcoming Elections</h1>
        <p class='text-muted'>Future Elections:
        <ul class="list-group">
            {% for election in elections %}
                {% if election.election_state == 'upcoming' %}
                    <li class="list-group-item list-group-item-light"><a href="#">{{ election.election_title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        </p>
    </div> -->
    {% endraw %}
    
    {% include 'over_elections.html' %}
    {% block over_elections %}
    {% endblock over_elections %}

    {% raw %}
    <!-- <div class="content-section">
        <h1>Previous Elections</h1>
        <p class='text-muted'>Past Elections:
        <ul class="list-group">
            {% for election in elections %}
                {% if election.election_state == 'past' %}
                    <li class="list-group-item list-group-item-light"><a href="#">{{ election.election_title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        </p>
    </div> -->
    {% endraw %}

    {% include 'past_elections.html' %}
    {% block past_elections %}
    {% endblock past_elections %}

{% endblock content %}

{% block sidebar %}

<div class="col-md-4">
  <div class="content-section">
    <h3>Sidebar</h3>
    <p class='text-muted'>Quick Links
      <ul class="list-group">
        <li class="list-group-item list-group-item-light"><a href="{{ url_for('new_admin') }}">Add another User</a></li>
      </ul>
    </p>
  </div>
  <div class="content-section">
    <h3>Manage Elections</h3>
    <p class='text-muted'>Useful Links
      <ul class="list-group">
        <li class="list-group-item list-group-item-light"><a href="{{ url_for('new_election') }}">Create Elections</a></li>
        <li class="list-group-item list-group-item-light"><a href="{{ url_for('publish_results') }}">Publish Results</a></li>
      </ul>
    </p>
  </div>
</div>
{% endblock sidebar %}