{% extends "admin_base.html" %}
{% block content %}
<div class="content-section">
    <form action="" method="POST">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Create New Election</legend>
        <div class="form-group">
          {{ form.election_title.label(class="form-control-label") }} 
          {% if form.election_title.errors%} 
            {{ form.election_title(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.election_title.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %} 
            {{ form.election_title(class="form-control form-control-lg") }} 
            {% endif %}
        </div>
        <div class="form-group mt-2">
          {{ form.start_date.label(class="form-control-label") }} 
          {% if form.start_date.errors %} 
            {{ form.start_date(class="datetime form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.start_date.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %} 
          {{ form.start_date(class="datetime form-control form-control-lg") }} 
          {% endif %}
        </div>

        <div class="form-group mt-2">
          {{ form.end_date.label(class="form-control-label") }} 
          {% if form.end_date.errors %} 
            {{ form.end_date(class="datetime form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.end_date.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %} 
            {{ form.end_date(class="datetime form-control form-control-lg") }} 
          {% endif %}
        </div>
        <div class="form-group mt-2">
          {{ form.public_key.label(class="form-control-label") }} 
          {% if form.public_key.errors %} 
            {{ form.public_key(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.public_key.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">N</span>
              </div>
              {{ form.public_key(class="form-control form-control-lg form-control") }} 
            </div>
          {% endif %}
        </div>
        <div class="form-group mt-2">
          {{ form.private_key_p.label(class="form-control-label") }} 
          {% if form.private_key_p.errors %} 
            {{ form.private_key_p(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.private_key_p.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %} 
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">P</span>
            </div>
            {{ form.private_key_p(class="form-control form-control-lg") }} 
          </div>
          {% endif %}
        </div>
        <div class="form-group mt-2">
          {% if form.private_key_q.errors %} 
            {{ form.private_key_q(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.private_key_q.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %} 
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Q</span>
            </div>
            {{ form.private_key_q(class="form-control form-control-lg") }} 
          </div>
          {% endif %}
        </div>
        <div class="form-group mt-2">
          {{ form.max_attempt.label(class="form-control-label") }} 
          {% if form.max_attempt.errors %} 
            {{ form.max_attempt(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.max_attempt.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %} 
            {{ form.max_attempt(class="form-control form-control-lg") }} 
            {% endif %}
        </div>
      </fieldset>
      <div class="form-group mt-3">
        <a class="btn btn-outline-success btn-block" href="data:text/json;charset=utf-8,{{ private_key }}" download="PRIVATE_KEY_{{ election_id }}.json">
          Download PRIVATE KEY
        </a>
      </div>
      <div class="form-group mt-3">
        {{ form.submit(class="btn btn-outline-info btn-block") }}
      </div>
    </form>
  </div>
{% endblock content %}

{% block scripts %}

{% endblock scripts %}