{% extends "home_base.html" %}

{% block content %}

<div class="content-section">
    <h1>Ongoing Elections</h1>
    <p class='text-muted'>Elections currently happening:
    <ul class="list-group">
        <li class="list-group-item list-group-item-light"><a href="#">Election-1</a></li>
    </ul>
    </p>
</div>

<div class="content-section">
    <h1>Upcoming Elections</h1>
    <p class='text-muted'>Future Elections:
    <ul class="list-group">
        <li class="list-group-item list-group-item-light"><a href="#">Election-2</a></li>
        <li class="list-group-item list-group-item-light"><a href="#">Election-3</a></li>
        <li class="list-group-item list-group-item-light"><a href="#">Election-4</a></li>
    </ul>
    </p>
</div>

{% endblock content %}